.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      )
      /*blur effect*/,
    url("https://images.unsplash.com/photo-1517817748493-49ec54a32465?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightpink;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcyan;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.errorMsg {
  margin-top: 10px;
  padding: 5px;
  border: 2px solid lightsalmon;
  background-color: lightgoldenrodyellow;
  color: red;
  font-size: 14px;
}
